.slider.items.items_bottom.js-items.js-slider(data-text="Информационные партнеры")

	.slider__item
		.slider__logo.slider__logo_wedding: a(href=jv0)


	.slider__item
		.slider__logo.slider__logo_gelios: a(href=jv0)


	.slider__item
		.slider__logo.slider__logo_eventforum: a(href=jv0)


	.slider__item
		.slider__logo.slider__logo_grebennicov: a(href=jv0)


	.slider__item.slider__item_state_active
		.slider__logo.slider__logo_event: a(href=jv0)

	.slider__btn Стать партнером
